body {
    width:100vw;
    height: 100vh;
    background: linear-gradient(132deg, #9ecce6, #82bee6);
    background-size: 400% 400%;

    animation: backgroundColor 20s ease infinite;
}

.backgroundAnimation {
  animation: backgroundColor 20s ease infinite;
}

@keyframes backgroundColor {
    0%{background-position:0% 53%}
    50%{background-position:100% 48%}
    100%{background-position:0% 53%}
}
